/* remove default browser-enforced styles */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* apply general section styles */
:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

html {
    scroll-padding-top: 30px;
}

.title-formating {
    font-size: 48px;
    text-align: right;
    padding-right: 10px;
}
/* end general section styles */

/* apply styles to <header> */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    background-color: #1f3758;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}
/* end styles to <header> */

/* apply style to hero section */
.hero-wrapper {
    display: flex;
}

.profile-img {
    height: 400px;
    width: 25%;
    margin-bottom: 25px;
    background-image: url("../images/Profile-img.jpg");
    background-size: cover;
    background-position: center;
}

.hero {
    height: 400px;
    width: 75%;
    margin-bottom: 25px;
    background-image: url("../images/night_apocalypse_by_olgola_de4d2vm.jpg");
    background-size: cover;
    background-position: center;
}
/* end style to hero section */

/* apply artical style */
.artical {
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
}

.artical h3 {
    font-size: 36px;
    flex: 1 30%;
}

.artical-wrapper {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
}

.artical-text {
    flex: 12;
    padding-left: 40px;
    border-left: 3px solid;
}
/* end artical style */

/* apply specific formating for about me section */
.artical-text p {
    color: var(--tertiary-color);
    font-size: 18px;
    line-height: 1.5;
}
/* end specific formating for about me section */

/* apple specific formating for sample work section */
.sample-work-grid-container {
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 10px;
}

.sample-work-grid-item {
    border: 5px solid var(--secondary-color);
    padding: 1em;
    color: black;
}

.subtitle {
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.subtitle h5 {
    font-size: 12px;
}

.sample-work-grid-item a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sample1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
    position: relative;
    background-image: url(../images/Run-Buddy-Screenshot.png);
    background-size: cover;
}

.sample2 {
    position: relative;
    background-image: url(../images/Fun-With-Java-Screenshot.png);
    background-size: cover;
}

.sample3 {
    position: relative;
    background-image: url(../images/Grumpy-Cat-Screenshot.png);
    background-size: cover;
}

.sample4 {
    position: relative;
    background-image: url(../images/Weeknd-Fanpage-Screenshot.png);
    background-size: cover;
}

.sample5 {
    grid-column: 2/ span 2;
    position: relative;
    background-image: url(../images/Horiseon-Screenshot.png);
    background-size: cover;
}
/* end specific formating for sample work section */

/* apply specific formating for contact me section */
.contact-me-list {
    margin: 7px 0;
}

.contact-me-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.contact-me-list ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-decoration: none;
}
/* end specific formating for contact me section */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    /* apply media styles to <header> */
    header {
        position: relative;
        padding-bottom: 15px;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
    /* end media styles to <header> */

    /* apply media styles to hero section */
    .profile-img {
        width: 45%;
    }

    .hero {
        width: 55%;
    }
    /* end media styles to hero section */
    
    /* apply title and artical section styles */
    .artical {
        margin: 10px auto;
    }
    .title-formating {
        flex: 1 100%;
        text-align: center;
    }

    .artical-wrapper {
        flex: 2 100%;
        text-align: center;
    }

    .artical-text {
        border-left: none;
        border-top: 3px solid;
        padding: 10px 0 0 0;
    }
    /* end title and artical section styles */

    /* apply contact me section style */
    .contact-me-list ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .contact-me-list ul li a {
        font-size: 20px;
    }
    /* end contact me section style */
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* apply sample work section style */
    .sample-work-grid-container {
        grid-template-rows: repeat(4, 150px);
    }

    .sample1 {
        grid-column: 1/ span 3;
    }

    .sample4 {
        grid-row: 3/ span 2;
    }
    /* end sample work section style */
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    /* apply media styles to hero section */
    .profile-img {
        width: 55%;
    }

    .hero {
        width: 45%;
    }
    /* end media styles to hero section */
}